body {
    background-color: #F0E0D6;
}

h1 {
    text-align: center;
    color: #696969;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    color: #A52A2A;
    margin-bottom: 50px;
}

.radio-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.radio-item {
    margin-right: 20px;
    color: #A9A9A9;
}

input[type='radio'] {
    margin-right: 10px;
}

#histogram {
    background-color: #FFE4B5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#boxplot {
    background-color: #FFE4B5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}